.background-e {
    
}
.pdt-20 {
    padding-top: 20px;
}

.pdt-20 {
    padding-top: 20px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
.title_s ul li {
    display: inline-block;
    font-size: 25px;
    height: 42px;
    margin: 0 8px;
}
li {
    list-style: none;
}
.menu_event_cat ul li {
    display: inline-block;
    margin: 10px 10px;
    font-size: 18px;
}
.color-dark{
    color: #1a1a1a;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}
.mt-10{
    margin-top: 10px;
  }
  .event__date-time {
    margin-bottom: 10px;
  }
  .row_ctm {
    margin-right: 0px !important;
  }
  .font-size-14{
    font-size: 14px !important;
  }
  .event__date-wrap {
    position: relative;
    padding: 0 15px;
  }
  .fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.name_sce {
    border: 1px solid silver;
    padding: 3px 0px 0 0px;
    margin-right: unset !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-15 {
    font-size: 12px;
    padding: 15px;
}


